<div>
  <!-- canvas -->
  <canvas id="myCanvas" (click)="handleClick()"></canvas>

  <!-- modal -->
  <div *ngIf="isGameOver" class="modal">
    <div class="score">GAME OVER!</div>
    <div class="score">SCORE: {{score}}</div>
    <button class="bRestart" (click)="handleClick()">Restart</button>
    <div class="levelText">LEVEL</div>
    <div class="levelText">{{level}}</div>
    <br>
    <div class="button-container">
      <button class="bLevel" (click)="handleBeginer()">Beginer</button>
      <button class="bLevel" (click)="handleMedium()">Medium</button>
      <button class="bLevel" (click)="handleHard()">Hard</button>
    </div>
    <div class="button-container">
      <div class="topScore">
        <div>TOP SCORE</div>
        <hr>
        <div class="scoreLevel">{{topScore.beginner}}</div>
      </div>
      <div class="topScore">
        <div>TOP SCORE</div>
        <hr>
        <div class="scoreLevel">{{topScore.medium}}</div>
      </div>
      <div class="topScore">
        <div>TOP SCORE</div>
        <hr>
        <div class="scoreLevel">{{topScore.hard}}</div>
      </div>
    </div>
  </div>
</div>
